:root {
  --font-size-base: 24px;
  --font-size-l: 6vh;
  --font-size-m: 5vh;
  --font-size-sm: 3vh;
}

@font-face {
  font-family: Aileron-UltraLight;
  src: url(../assets/Aileron-UltraLight.otf);
}

body {
  font-family: Aileron-UltraLight, Helvetica Neue;
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

#app {
  display: grid;
  height: 100vh;
}

.title_container {
  display: flex;
}

.title_headline {
  font-size: var(--font-size-l);
  text-align: center;
}

.title_headline svg {
  width: 2em;
}

.loader_container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader_container svg {
  width: 25%;
  height: 25%;
}

.title_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  width: 100%;
}

.title_logo {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--font-size-m);
}

.title_logo svg {
  width: 2em;
  display: inline-block;
  margin: 0 auto 0.5em auto;
}

.box_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box_item {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 14px -5px rgba(0,0,0,0.25);
  flex: 0.2;
}

.box_content {
  font-size: var(--font-size-m);
  margin-bottom: 0.25em;
}

.box_content small {
  font-size: var(--font-size-sm);
}
